@tailwind base;
@tailwind components;
@tailwind utilities;

/* .box.vibration {
    width: 150px;
    height: 150px;
    background: #febf00;
    animation: vibration 0.1s infinite;
}

@keyframes vibration {
    from {
        transform: translate(1px, 1px);
    }
    to {
        transform: translate(-1px, -1px);
    }
} */

p, ul, li {
    margin: 0;
    padding: 0;
}


.navbar{
    width: 100%;
    height: 120px;
    color: black;
}

.navbar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgb(151, 151, 151);
    text-align: center;
}

.navbar .nav-link.active{
    font-weight: bolder;
    color: black;
}

.mainInfo{
    border-radius: 6px;
    background-image: url('../public/img/woozoo.jpeg');
    background-size: 700% auto;
    /* background-position: 50% 10rem; */
    /* background-attachment: fixed; */
    animation : anime-end 70s infinite ;
}



.footer{
    width: 100%;
    padding: 20px;
    text-align: center;
}


/* gradient  */
.gradient-custom-2 {
	/* width: 100%;
	height: 48px; */
	/* fallback for old browsers */
	background: #9ac9f7;

	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(45deg , #79a0ff ,#6981ff, #9ac9f7);

	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(45deg , #79a0ff ,#6981ff, #9ac9f7);
	animation : anime 8s linear infinite;
	background-size: 300%;
}

@keyframes anime {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes anime-end{
    0% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}

@media screen and (max-width: 768px) {
    .welcome-text,
    .log-out-Btn {
    display: none; 
    }
    
    .log-out-icon {
    display: inline-block; 
    }
}

@media screen and (min-width: 769px) {
    .welcome-text, 
    .log-out-Btn {
    display: inline-block; 
    }
    
    .log-out-icon {
    display: none;
    }
}

